# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\Projetos\Danilo\solucao-commerce-com-microsservicos\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# Intellij
.idea/
*.iml
*.iws
 
# Maven
log/
target/